@model ImageShare.Models.FileDb

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FileDb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileCapturedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileCapturedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileCapturedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileCapturedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileGeolocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileGeolocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileTags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileTags)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFile)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
