@model IEnumerable<ImageShare.Models.FileDb>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileCapturedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileCapturedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileGeolocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileTags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileCapturedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileCapturedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileGeolocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileTags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
